<!doctype html>
<head>
<title>imgya</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-3.3.1.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>

<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/tinycat.png') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">imgya</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/upload">Upload</a>
      </li>
    </ul>
  </div>

  <ul class="nav navbar-nav navbar-right">
          <p>Envelope icon: <span class="glyphicon glyphicon-envelope"></span></p> 
    <span class="navbar-text">
      {% if g.user %}
        {{ g.user['username'] }}
      {% endif %}
    </span>
  </ul>
</nav>

<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}
  {% endblock %}
</section>

</body>
